@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    padding: 2% 1%;
    width: 100%;
    display: flex;
    width: 100%;
    background-color:#00296b;
    position: fixed;
    z-index: 1;
    
    
}
.total-nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #fdc500;
    letter-spacing: 7px;
}
.logo:hover{
    color: #fdc500;
}

.navigation a{
    text-decoration: none;
    font-size: 15px;
    color: #fdc500;
    padding-right: 5px;
    font-weight: 400;
    letter-spacing: 2px;
    
}
.navigation a:hover{
    color: #fdc500;
}
.main{
    min-height: 100vh;
    display: flex;
    border-bottom: 2px solid #00296b;
    
}

.hero{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    padding: 0px 2% 0px 0px;
}

.first{
    font-size: 35px;
    color: #fdc500;
    background-color:#00296b ;
    padding: 3%;
    width: fit-content;
}
.position{
    font-size: 24px;
    color: #fdc500;
    background-color:#00296b ;
    padding: 3%;
    width: fit-content;

}
.button{
   color: #fdc500;
   border: none;
   padding: 2% 5%;
   background-color: #00296b;
   width: fit-content;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   font-weight: 500;
   margin-top:5%  ;
   transition: 0.7s ease;
 
}
.button:hover{
    color: #fdc500;
    transform: scale(1.1);
}

.social-icons{
    margin-top: 10px;
    background-color: #00296b;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
}

.social-icons a{
    color: #fdc500;
    font-size: 1.5rem;
    padding: 8px 15px;

    
}
.social-icons a:hover{
    color: #fdc500;
}
.right{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0% 0% 0% 6%;
    
 }

 .hero-img{
    display: flex;
    justify-content: stretch;
 }

 .services{
    display: flex;
    justify-content: center;
    height: 100vh;
 }
 .content-services{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
 }
 .title{
    display: flex;
    justify-content: center;
    color: #00296b;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    margin: 15% 0 1% 0;
    
 }
 .description{
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #495057;
    margin: 1%;
 }
 .cards{
    
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
 }

 .card {
    color: #00296b;
    margin: 1%;
    max-width: 218px;
    
 }
 .card img{
    height: 150px;
 }
 .card-text{
    color: #495057;
 }
 
 
 
 
 

 


@media (max-width: 992px) { 
    .total-nav{
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    .navigation a{
        font-size: 12px;
    }
    .social-icons{
        
        width: 40%;
    }
    .hero{
        display: flex;
        justify-content: space-between;
    }
    .first{
        font-size: 25px;
    }
    .position{
        font-size: 25px;
    }
    .social-icons{
        width: 80%;
    }
    .hero-img{
        width: 100%;
    }
    
    


 }

@media (max-width: 768px) { 
    
    .navigation{
        margin: 10px 0;
    }
    .navigation a{
        font-size: 10px;
    }
    .logo{
        font-size: 20px;
    }
    .total{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .position{
        font-size: 20px;
    }
    .social-icons{
        width: 80%;
        padding: 0%;
    }
    .social-icons a{
        padding: 1% 5%;
    }
}

@media (max-width: 576px) { 
    
    .total-nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20%;
    }
    .hero-img{
        padding-bottom: 60%;
    }

    .social-icons{
        max-width: 100%;
    }
    .left{
        
        margin: 20% 0%;
        width: 80%;
        display: flex;
        
        align-items: center;
    }
    .first{
        width:100%;
        text-align: center;
    }
    .position{
        width: 100%;
        text-align: center;
        
    }
    .button{
        margin: 5% 0px;
        
    }
    .right{
        display: flex;
        justify-content: center;
        padding: 0% 3%;
        width: 80%;
    }
    .navigation a{
        font-size: 10px;
        letter-spacing: 1px;
    }
    .navigation {
        margin:10px 0px;
    }
    .services{
        padding-top: 20%;
    }
    .card{
        max-width: 60%;
        margin-bottom: 5%;
    }
    .title{
        padding: 10% 0%;
    }
    .description{
        padding: 10% 0% 20% 0;
    }
 }
